In [160]:
import pandas as pd
import csv
from pathlib import Path

p = Path(r"data.csv")
if not p.exists():
    raise FileNotFoundError(p)

# detect encoding (fallback to latin-1) and sample for delimiter sniffing
encoding = "utf-8"
try:
    sample = p.read_text(encoding=encoding)[:8192]
except UnicodeDecodeError:
    encoding = "latin-1"
    sample = p.read_text(encoding=encoding)[:8192]

try:
    delim = csv.Sniffer().sniff(sample).delimiter
except Exception:
    delim = ","

df = pd.read_csv(p, sep=delim, encoding=encoding, low_memory=False, parse_dates=True)
print("shape:", df.shape)
df.head()

shape: (8626, 61)

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2022,2023,2024,2025,2026,2027,2028,2029,2030,Estimates Start After
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,032.712","1,056.123",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",NaN,...,-6.240,2.267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,283.442","1,350.910",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
3,512,AFG,NGDPD,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,14.501,17.248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
4,512,AFG,PPPGDP,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,86.149,91.272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0

In [161]:
Unique_Country = df['Country'].unique()

In [162]:
# count columns
print("Number of columns:", df.shape[1])

# list column names
print("Columns:", df.columns.tolist())

# counts of non-null values per column (good for spotting missing data)
print(df.count().sort_values(ascending=False))
# count columns
print("Number of columns:", df.shape[1])

# list column names
print("Columns:", df.columns.tolist())

# counts of non-null values per column (good for spotting missing data)
print(df.count().sort_values(ascending=False))

Number of columns: 61
Columns: ['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country', 'Subject Descriptor', 'Subject Notes', 'Units', 'Scale', 'Country/Series-specific Notes', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', 'Estimates Start After']
WEO Country Code      8625
ISO                   8624
WEO Subject Code      8624
Country               8624
Subject Descriptor    8624
                      ...
1984                  4104
1983                  4079
1982                  4039
1981                  3995
1980                  3861
Length: 61, dtype: int64
Number of columns: 61
Columns: ['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country', 'Subject Descriptor', 'Subject Notes', 'Units', 'Scale', 'Country/Series-specific Notes', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', 'Estimates Start After']
WEO Country Code      8625
ISO                   8624
WEO Subject Code      8624
Country               8624
Subject Descriptor    8624
                      ...
1984                  4104
1983                  4079
1982                  4039
1981                  3995
1980                  3861
Length: 61, dtype: int64

In [163]:
df.drop(columns=["WEO Country Code", "ISO","Country/Series-specific Notes", "Subject Notes", "Units", "Scale", "Estimates Start After", "Subject Descriptor" ], inplace=True)

codes = {"NGDPD","PCPI","TM_RPCH","TX_RPCH","LUR","LP","GGR_NGDP","GGX_NGDP","GGXWDN_NGDP","BCA_NGDPD"}
col = "WEO Subject Code"

if col not in df.columns:
    raise KeyError(f"Column {col!r} not found in dataframe")

df = df[df[col].astype(str).str.strip().isin(codes)].copy()
print("shape after filter:", df.shape)
df

shape after filter: (1960, 53)

,WEO Subject Code,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
3,NGDPD,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.278,14.501,17.248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,PCPI,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130.038,143.822,132.728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,TM_RPCH,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-30.012,29.820,14.971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,TX_RPCH,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.529,30.217,-2.680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,LUR,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8606,LP,Zimbabwe,7.092,7.300,7.606,7.849,8.099,8.385,8.648,8.919,...,15.904,16.229,16.624,16.993,17.360,17.729,18.104,18.488,18.882,19.285
8608,GGR_NGDP,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.348,16.599,14.649,16.581,18.549,18.698,19.117,19.197,19.277,19.277
8610,GGX_NGDP,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.573,21.476,19.968,18.641,19.053,18.257,18.231,18.201,18.143,18.110
8618,GGXWDN_NGDP,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8623,BCA_NGDPD,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.967,0.935,0.384,1.435,2.994,3.063,2.927,2.895,2.554,2.196

In [165]:
# --- Step 1: Identify year columns ---
year_cols = df.columns[2:]  # after WEO Subject Code and Country

# --- Step 2: Clean numeric formatting ---
df[year_cols] = df[year_cols].replace({',': ''}, regex=True)
df[year_cols] = df[year_cols].apply(pd.to_numeric, errors="coerce")

# --- Step 3: Clean country names ---
df["Country"] = (
    df["Country"]
    .str.replace(" ", "_")
    .str.replace("'", "")
    .str.replace("-", "_")
)

# --- Step 4: Melt into long format ---
df_long = df.melt(id_vars=["WEO Subject Code", "Country"],
                  var_name="Year", value_name="Value")

# --- Step 5: Keep only valid year rows ---
df_long["Year"] = df_long["Year"].astype(str).str.strip()
df_long = df_long[df_long["Year"].str.fullmatch(r"\d{4}")].copy()
df_long["Year"] = df_long["Year"].astype(int)

# --- Step 6: Clean numeric values ---
df_long["Value"] = (
    df_long["Value"].astype(str)
    .str.replace(",", "")
    .replace({"": None, "nan": None})
    .astype(float)
)

# --- Step 7: Pivot using WEO Subject Code as columns ---
df_pivot = df_long.pivot_table(
    index=["Country", "Year"],
    columns="WEO Subject Code",   # use NGDPD, PCPI, etc.
    values="Value",
    aggfunc="first"
).reset_index()

# --- Step 8: Finalize ---
df_pivot.columns.name = None
df_pivot = df_pivot.set_index("Year")

df_pivot.head()

,Country,BCA_NGDPD,GGR_NGDP,GGXWDN_NGDP,GGX_NGDP,LP,LUR,NGDPD,PCPI,TM_RPCH,TX_RPCH
Year,,,,,,,,,,,
1980,United_States,0.081,NaN,NaN,NaN,227.622,7.175,2857.325,82.383,-6.664,10.778
1981,United_States,0.157,NaN,NaN,NaN,229.916,7.617,3207.025,90.933,2.616,1.213
1982,United_States,-0.165,NaN,NaN,NaN,232.128,9.708,3343.800,96.533,-1.264,-7.662
1983,United_States,-1.065,NaN,NaN,NaN,234.247,9.600,3634.025,99.583,12.609,-2.589
1984,United_States,-2.337,NaN,NaN,NaN,236.307,7.508,4037.650,103.933,24.344,8.150

In [166]:
# Convert Year index to integer
df_pivot.index = df_pivot.index.astype(int)

# Define global recession years
global_recession_years = [
    1981, 1982, 1983,
    1990, 1991, 1992, 1993,
    2008, 2009, 2010,
    2020, 2021
]

# Add Global_Recession column
df_pivot["Global_Recession"] = df_pivot.index.isin(global_recession_years).astype(int)

df_pivot

,Country,BCA_NGDPD,GGR_NGDP,GGXWDN_NGDP,GGX_NGDP,LP,LUR,NGDPD,PCPI,TM_RPCH,TX_RPCH,Global_Recession
Year,,,,,,,,,,,,
1980,United_States,0.081,NaN,NaN,NaN,227.622,7.175,2857.325,82.383,-6.664,10.778,0
1981,United_States,0.157,NaN,NaN,NaN,229.916,7.617,3207.025,90.933,2.616,1.213,1
1982,United_States,-0.165,NaN,NaN,NaN,232.128,9.708,3343.800,96.533,-1.264,-7.662,1
1983,United_States,-1.065,NaN,NaN,NaN,234.247,9.600,3634.025,99.583,12.609,-2.589,1
1984,United_States,-2.337,NaN,NaN,NaN,236.307,7.508,4037.650,103.933,24.344,8.150,0
1985,United_States,-2.723,NaN,NaN,NaN,238.416,7.192,4339.000,107.600,6.489,3.348,0
1986,United_States,-3.214,NaN,NaN,NaN,240.593,7.000,4579.625,109.692,8.534,7.672,0
1987,United_States,-3.309,NaN,NaN,NaN,242.751,6.175,4855.250,113.617,5.937,10.929,0
1988,United_States,-2.314,NaN,NaN,NaN,244.968,5.492,5236.425,118.275,3.932,16.212,0
1989,United_States,-1.763,NaN,NaN,NaN,247.286,5.258,5641.600,123.942,4.407,11.570,0
1990,United_States,-1.324,NaN,NaN,NaN,250.047,5.617,5963.125,130.658,3.573,8.827,1
1991,United_States,0.047,NaN,NaN,NaN,253.392,6.850,6158.125,136.167,-0.151,6.614,1
1992,United_States,-0.792,NaN,NaN,NaN,256.777,7.492,6520.325,140.308,7.008,6.923,1
1993,United_States,-1.237,NaN,NaN,NaN,260.146,6.908,6858.550,144.475,8.649,3.271,1
1994,United_States,-1.669,NaN,NaN,NaN,263.325,6.100,7287.250,148.225,11.932,8.836,0
1995,United_States,-1.487,NaN,NaN,NaN,266.458,5.592,7639.750,152.383,8.000,10.277,0
1996,United_States,-1.546,NaN,NaN,NaN,269.581,5.408,8073.125,156.858,8.698,8.174,0
1997,United_States,-1.641,NaN,NaN,NaN,272.822,4.942,8577.550,160.525,13.465,11.908,0
1998,United_States,-2.373,NaN,NaN,NaN,276.022,4.500,9062.825,163.008,11.690,2.338,0
1999,United_States,-2.976,NaN,NaN,NaN,279.195,4.217,9631.175,166.583,11.595,4.980,0
2000,United_States,-3.921,NaN,NaN,NaN,282.296,3.967,10250.950,172.192,13.000,8.312,0
2001,United_States,-3.724,32.257,34.294,32.801,285.216,4.742,10581.925,177.042,-2.462,-5.580,0
2002,United_States,-4.173,29.877,36.538,33.698,288.019,5.783,10929.100,179.867,3.669,-1.954,0
2003,United_States,-4.559,29.266,38.668,34.037,290.733,5.992,11456.450,184.000,5.123,2.105,0
2004,United_States,-5.205,29.476,47.218,33.719,293.389,5.542,12217.175,188.908,10.984,9.644,0
2005,United_States,-5.746,30.853,45.783,33.928,296.115,5.083,13039.200,195.267,6.490,6.945,0
2006,United_States,-5.911,31.656,44.202,33.692,298.930,4.608,13815.600,201.558,6.419,9.478,0
2007,United_States,-5.089,31.649,43.833,34.562,301.903,4.617,14474.250,207.344,2.566,8.762,0
2008,United_States,-4.716,30.532,50.031,37.144,304.718,5.800,14769.850,215.254,-2.148,5.789,1
2009,United_States,-2.623,28.222,61.093,41.399,307.374,9.283,14478.050,214.565,-12.627,-8.311,1
2010,United_States,-2.871,28.770,67.586,39.763,309.737,9.608,15048.975,218.076,12.968,12.647,1
2011,United_States,-2.919,29.080,73.871,38.796,311.944,8.933,15599.725,224.923,4.816,7.178,0
2012,United_States,-2.573,29.109,77.807,37.223,314.167,8.075,16253.950,229.586,2.449,4.019,0
2013,United_States,-2.011,31.222,78.639,35.782,316.331,7.358,16880.675,232.952,1.212,3.010,0
2014,United_States,-2.102,31.298,79.260,35.324,318.619,6.158,17608.125,236.715,5.160,3.902,0
2015,United_States,-2.233,31.501,79.535,35.031,320.926,5.275,18295.000,237.002,5.191,0.320,0
2016,United_States,-2.107,30.977,80.473,35.333,323.221,4.875,18804.900,240.005,1.458,0.474,0
2017,United_States,-1.874,30.400,78.614,35.194,325.280,4.358,19612.100,245.121,4.710,4.115,0
2018,United_States,-2.129,30.014,79.376,35.349,327.023,3.892,20656.525,251.100,4.038,2.854,0
2019,United_States,-2.051,30.014,81.078,35.819,328.547,3.675,21539.975,255.653,1.176,0.533,0
2020,United_States,-2.815,30.631,95.628,44.779,331.307,8.100,21354.125,258.856,-8.979,-13.127,1
2021,United_States,-3.665,31.827,95.511,43.218,332.453,5.358,23681.175,270.968,14.671,6.477,1
2022,United_States,-3.892,33.130,91.628,36.829,334.273,3.642,26006.900,292.625,8.593,7.513,0
2023,United_States,-3.266,29.949,93.957,37.113,337.014,3.633,27720.725,304.704,-1.172,2.764,0
2024,United_States,-3.884,30.331,96.539,37.593,340.102,4.033,29184.900,313.698,5.304,3.273,0
2025,United_States,-3.729,31.389,98.044,37.848,342.373,4.159,30507.217,323.070,2.643,1.890,0
2026,United_States,-3.173,32.514,99.233,38.004,344.396,4.151,31717.641,331.035,1.168,1.807,0
2027,United_States,-3.045,32.754,100.428,38.107,346.436,4.079,32941.710,338.021,2.146,2.978,0
2028,United_States,-2.623,32.409,101.448,38.024,348.483,3.929,34342.132,345.307,2.056,3.047,0
2029,United_States,-2.550,32.222,102.679,37.711,350.535,3.801,35712.824,352.797,2.083,3.003,0
2030,United_States,-2.405,32.248,104.020,37.862,352.594,3.759,37153.089,360.470,2.123,3.035,0

In [167]:
df_pivot[df_pivot["Country"] == "United_States"]

,Country,BCA_NGDPD,GGR_NGDP,GGXWDN_NGDP,GGX_NGDP,LP,LUR,NGDPD,PCPI,TM_RPCH,TX_RPCH,Global_Recession
Year,,,,,,,,,,,,
1980,United_States,0.081,NaN,NaN,NaN,227.622,7.175,2857.325,82.383,-6.664,10.778,0
1981,United_States,0.157,NaN,NaN,NaN,229.916,7.617,3207.025,90.933,2.616,1.213,1
1982,United_States,-0.165,NaN,NaN,NaN,232.128,9.708,3343.800,96.533,-1.264,-7.662,1
1983,United_States,-1.065,NaN,NaN,NaN,234.247,9.600,3634.025,99.583,12.609,-2.589,1
1984,United_States,-2.337,NaN,NaN,NaN,236.307,7.508,4037.650,103.933,24.344,8.150,0
1985,United_States,-2.723,NaN,NaN,NaN,238.416,7.192,4339.000,107.600,6.489,3.348,0
1986,United_States,-3.214,NaN,NaN,NaN,240.593,7.000,4579.625,109.692,8.534,7.672,0
1987,United_States,-3.309,NaN,NaN,NaN,242.751,6.175,4855.250,113.617,5.937,10.929,0
1988,United_States,-2.314,NaN,NaN,NaN,244.968,5.492,5236.425,118.275,3.932,16.212,0
1989,United_States,-1.763,NaN,NaN,NaN,247.286,5.258,5641.600,123.942,4.407,11.570,0
1990,United_States,-1.324,NaN,NaN,NaN,250.047,5.617,5963.125,130.658,3.573,8.827,1
1991,United_States,0.047,NaN,NaN,NaN,253.392,6.850,6158.125,136.167,-0.151,6.614,1
1992,United_States,-0.792,NaN,NaN,NaN,256.777,7.492,6520.325,140.308,7.008,6.923,1
1993,United_States,-1.237,NaN,NaN,NaN,260.146,6.908,6858.550,144.475,8.649,3.271,1
1994,United_States,-1.669,NaN,NaN,NaN,263.325,6.100,7287.250,148.225,11.932,8.836,0
1995,United_States,-1.487,NaN,NaN,NaN,266.458,5.592,7639.750,152.383,8.000,10.277,0
1996,United_States,-1.546,NaN,NaN,NaN,269.581,5.408,8073.125,156.858,8.698,8.174,0
1997,United_States,-1.641,NaN,NaN,NaN,272.822,4.942,8577.550,160.525,13.465,11.908,0
1998,United_States,-2.373,NaN,NaN,NaN,276.022,4.500,9062.825,163.008,11.690,2.338,0
1999,United_States,-2.976,NaN,NaN,NaN,279.195,4.217,9631.175,166.583,11.595,4.980,0
2000,United_States,-3.921,NaN,NaN,NaN,282.296,3.967,10250.950,172.192,13.000,8.312,0
2001,United_States,-3.724,32.257,34.294,32.801,285.216,4.742,10581.925,177.042,-2.462,-5.580,0
2002,United_States,-4.173,29.877,36.538,33.698,288.019,5.783,10929.100,179.867,3.669,-1.954,0
2003,United_States,-4.559,29.266,38.668,34.037,290.733,5.992,11456.450,184.000,5.123,2.105,0
2004,United_States,-5.205,29.476,47.218,33.719,293.389,5.542,12217.175,188.908,10.984,9.644,0
2005,United_States,-5.746,30.853,45.783,33.928,296.115,5.083,13039.200,195.267,6.490,6.945,0
2006,United_States,-5.911,31.656,44.202,33.692,298.930,4.608,13815.600,201.558,6.419,9.478,0
2007,United_States,-5.089,31.649,43.833,34.562,301.903,4.617,14474.250,207.344,2.566,8.762,0
2008,United_States,-4.716,30.532,50.031,37.144,304.718,5.800,14769.850,215.254,-2.148,5.789,1
2009,United_States,-2.623,28.222,61.093,41.399,307.374,9.283,14478.050,214.565,-12.627,-8.311,1
2010,United_States,-2.871,28.770,67.586,39.763,309.737,9.608,15048.975,218.076,12.968,12.647,1
2011,United_States,-2.919,29.080,73.871,38.796,311.944,8.933,15599.725,224.923,4.816,7.178,0
2012,United_States,-2.573,29.109,77.807,37.223,314.167,8.075,16253.950,229.586,2.449,4.019,0
2013,United_States,-2.011,31.222,78.639,35.782,316.331,7.358,16880.675,232.952,1.212,3.010,0
2014,United_States,-2.102,31.298,79.260,35.324,318.619,6.158,17608.125,236.715,5.160,3.902,0
2015,United_States,-2.233,31.501,79.535,35.031,320.926,5.275,18295.000,237.002,5.191,0.320,0
2016,United_States,-2.107,30.977,80.473,35.333,323.221,4.875,18804.900,240.005,1.458,0.474,0
2017,United_States,-1.874,30.400,78.614,35.194,325.280,4.358,19612.100,245.121,4.710,4.115,0
2018,United_States,-2.129,30.014,79.376,35.349,327.023,3.892,20656.525,251.100,4.038,2.854,0
2019,United_States,-2.051,30.014,81.078,35.819,328.547,3.675,21539.975,255.653,1.176,0.533,0
2020,United_States,-2.815,30.631,95.628,44.779,331.307,8.100,21354.125,258.856,-8.979,-13.127,1
2021,United_States,-3.665,31.827,95.511,43.218,332.453,5.358,23681.175,270.968,14.671,6.477,1
2022,United_States,-3.892,33.130,91.628,36.829,334.273,3.642,26006.900,292.625,8.593,7.513,0
2023,United_States,-3.266,29.949,93.957,37.113,337.014,3.633,27720.725,304.704,-1.172,2.764,0
2024,United_States,-3.884,30.331,96.539,37.593,340.102,4.033,29184.900,313.698,5.304,3.273,0
2025,United_States,-3.729,31.389,98.044,37.848,342.373,4.159,30507.217,323.070,2.643,1.890,0
2026,United_States,-3.173,32.514,99.233,38.004,344.396,4.151,31717.641,331.035,1.168,1.807,0
2027,United_States,-3.045,32.754,100.428,38.107,346.436,4.079,32941.710,338.021,2.146,2.978,0
2028,United_States,-2.623,32.409,101.448,38.024,348.483,3.929,34342.132,345.307,2.056,3.047,0
2029,United_States,-2.550,32.222,102.679,37.711,350.535,3.801,35712.824,352.797,2.083,3.003,0
2030,United_States,-2.405,32.248,104.020,37.862,352.594,3.759,37153.089,360.470,2.123,3.035,0

In [168]:
# Remove rows with any NaN values
df_pivot = df_pivot.dropna()
df_pivot

,Country,BCA_NGDPD,GGR_NGDP,GGXWDN_NGDP,GGX_NGDP,LP,LUR,NGDPD,PCPI,TM_RPCH,TX_RPCH,Global_Recession
Year,,,,,,,,,,,,
2001,United_States,-3.724,32.257,34.294,32.801,285.216,4.742,10581.925,177.042,-2.462,-5.580,0
2002,United_States,-4.173,29.877,36.538,33.698,288.019,5.783,10929.100,179.867,3.669,-1.954,0
2003,United_States,-4.559,29.266,38.668,34.037,290.733,5.992,11456.450,184.000,5.123,2.105,0
2004,United_States,-5.205,29.476,47.218,33.719,293.389,5.542,12217.175,188.908,10.984,9.644,0
2005,United_States,-5.746,30.853,45.783,33.928,296.115,5.083,13039.200,195.267,6.490,6.945,0
2006,United_States,-5.911,31.656,44.202,33.692,298.930,4.608,13815.600,201.558,6.419,9.478,0
2007,United_States,-5.089,31.649,43.833,34.562,301.903,4.617,14474.250,207.344,2.566,8.762,0
2008,United_States,-4.716,30.532,50.031,37.144,304.718,5.800,14769.850,215.254,-2.148,5.789,1
2009,United_States,-2.623,28.222,61.093,41.399,307.374,9.283,14478.050,214.565,-12.627,-8.311,1
2010,United_States,-2.871,28.770,67.586,39.763,309.737,9.608,15048.975,218.076,12.968,12.647,1
2011,United_States,-2.919,29.080,73.871,38.796,311.944,8.933,15599.725,224.923,4.816,7.178,0
2012,United_States,-2.573,29.109,77.807,37.223,314.167,8.075,16253.950,229.586,2.449,4.019,0
2013,United_States,-2.011,31.222,78.639,35.782,316.331,7.358,16880.675,232.952,1.212,3.010,0
2014,United_States,-2.102,31.298,79.260,35.324,318.619,6.158,17608.125,236.715,5.160,3.902,0
2015,United_States,-2.233,31.501,79.535,35.031,320.926,5.275,18295.000,237.002,5.191,0.320,0
2016,United_States,-2.107,30.977,80.473,35.333,323.221,4.875,18804.900,240.005,1.458,0.474,0
2017,United_States,-1.874,30.400,78.614,35.194,325.280,4.358,19612.100,245.121,4.710,4.115,0
2018,United_States,-2.129,30.014,79.376,35.349,327.023,3.892,20656.525,251.100,4.038,2.854,0
2019,United_States,-2.051,30.014,81.078,35.819,328.547,3.675,21539.975,255.653,1.176,0.533,0
2020,United_States,-2.815,30.631,95.628,44.779,331.307,8.100,21354.125,258.856,-8.979,-13.127,1
2021,United_States,-3.665,31.827,95.511,43.218,332.453,5.358,23681.175,270.968,14.671,6.477,1
2022,United_States,-3.892,33.130,91.628,36.829,334.273,3.642,26006.900,292.625,8.593,7.513,0
2023,United_States,-3.266,29.949,93.957,37.113,337.014,3.633,27720.725,304.704,-1.172,2.764,0
2024,United_States,-3.884,30.331,96.539,37.593,340.102,4.033,29184.900,313.698,5.304,3.273,0
2025,United_States,-3.729,31.389,98.044,37.848,342.373,4.159,30507.217,323.070,2.643,1.890,0
2026,United_States,-3.173,32.514,99.233,38.004,344.396,4.151,31717.641,331.035,1.168,1.807,0
2027,United_States,-3.045,32.754,100.428,38.107,346.436,4.079,32941.710,338.021,2.146,2.978,0
2028,United_States,-2.623,32.409,101.448,38.024,348.483,3.929,34342.132,345.307,2.056,3.047,0
2029,United_States,-2.550,32.222,102.679,37.711,350.535,3.801,35712.824,352.797,2.083,3.003,0
2030,United_States,-2.405,32.248,104.020,37.862,352.594,3.759,37153.089,360.470,2.123,3.035,0

In [169]:
df_pivot["Country"].unique()

array(['United_States'], dtype=object)

In [170]:
# Write dataframe to CSV
df_pivot.to_csv("weo_data_clean.csv", index=True)